# Cấu hình database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=quan_li_sv

# JWT
JWT_SECRET=qlsv_secret_2025

# VNPay sandbox
VNP_TMN_CODE= ONPNUHYN
VNP_HASH_SECRET= RSUKD38CYH6RGVGYYS7I1V4KSTQLG599
VNP_RETURN_URL= https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

# Port server
PORT=3000
