# Cấu hình database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=quan_li_sv

# JWT
JWT_SECRET=qlsv_secret_2025

# VNPay sandbox
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_RETURN_URL=

# Port server
PORT=3000
